.bot-control-wrapper {
  font-weight: 600;
  padding-bottom: 30px;
  .border-yellow {
    border-bottom: 2px solid #fac800;
  }
  .border-gray {
    border-bottom: 2px solid #3e3e3e;
  }
  .ad {
    max-width: 728px;
    width: 100%;
    background: #c4c4c4;
    height: 90px;
    margin: auto;
    margin-top: 26px;
  }
  .content {
    max-width: 1252px;
    background: rgba(19, 19, 19, 0.75);
    margin: auto;
    margin-top: 26px;
    width: 100%;
    border-radius: 8px;
  }
  .general-setting-rl-tracker {
    padding: 13px 48px;
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;
    }
  }
  .content-item {
    padding: 13px 48px;
    .channels-wrapper {
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      .channels-wrapper {
        display: block !important;
        .item-piece {
          margin-top: 10px;
        }
      }
    }
    .allowed {
      max-width: 400px;
      width: 100%;
    }
    .title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .item-piece {
    border-radius: 8px;
    background: #1c1c1c;
    margin-top: 5px;
    padding: 4px 8px;
    margin-right: 12px;
    min-width: fit-content;
    .close_button {
      width: 20px;
      display: flex;
      cursor: pointer;
      height: 20px;
      border-radius: 100%;
      margin-left: 10px;
      img {
        width: 10px;
        margin-left: 5px;
      }
      &:hover {
        background: #ffffff22;
      }
    }
  }
  .icon_plus_button {
    padding: 4px;
    text-align: center;
    i {
      margin-left: 3px;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .ui.checkbox .box:before,
  .ui.checkbox label:before,
  .ui.checkbox input:checked ~ .box:before,
  .ui.checkbox input:checked ~ label:before {
    background: #1c1c1c;
    border: none;
  }
  .ui.checkbox input:checked ~ .box:after,
  .ui.checkbox input:checked ~ label:after,
  .ui.checkbox input:focus ~ .box:before,
  .ui.checkbox input:focus ~ label:before {
    color: #c4c4c4;
    background: #1c1c1c;
    border-color: none;
  }
}

.bot-control-add-select {
  border-radius: 8px;
  background: #1c1c1c;
  margin-top: 5px;
  padding: 4px 8px;
  margin-right: 12px;
  min-width: fit-content;
  position: relative;
  width: fit-content;
  height: 28px;
  .ui.dropdown > .text {
    color: #ffffff70;
  }
  .ui.dropdown .menu {
    background: #1c1c1c;
    margin-left: -5px;
    margin-top: 5px;
  }
  .ui.dropdown .menu > .item {
    color: white;
    padding: 5px 8px !important;
    &:hover {
      opacity: 0.7;
    }
  }
}
