.discord-bot {
  height: 100%;
  width: 100%;
  padding: 30px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .empty-board {
    background: #c4c4c4;
    width: calc(100% - 40px);
    max-width: 728px;
    height: 90px;
    min-height: 90px;
    padding: 0 30px;
    @media (max-width: 425px) {
      width: calc(100% - 20px);
    }
  }
  .discord-board {
    background: #101112;
    width: calc(100% - 40px);
    max-width: 1252px;
    height: 646px;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    @media (max-width: 425px) {
      width: calc(100% - 20px);
    }
    .discord-navbar {
      width: 70px;
      border-right: 1px solid #16181a;
      @media (max-width: 500px) {
        display: none;
      }
      .navbar-icons {
        display: flex;
        width: 56px;
        margin: 7px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        & > div {
          width: 14px;
          height: 14px;
          border-radius: 14px;
        }
        .icon-red {
          background: #db3f3f;
        }
        .icon-yellow {
          background: #ffeb37;
        }
        .icon-green {
          background: #4bff47;
        }
      }
      .nav-logo {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        cursor: pointer;
        img {
          width: 55px;
        }
      }
      .add-nav {
        display: flex;
        margin: 10px 0;
        div {
          width: 50px;
          height: 50px;
          border-radius: 30px;
          border: 1px solid #cbcbcb;
          margin: auto;
          cursor: pointer;
          p {
            text-align: center;
            font-size: 48px;
            color: #cbcbcb;
            font-weight: 500;
            line-height: 45px;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .discord-list {
      min-width: 230px;
      background: #16181a;
      .discord-list-header {
        height: 40px;
        border-bottom: 1px solid rgba($color: #9e9e9e, $alpha: 0.2);
        padding: 0 15px;
        display: flex;
        align-items: center;
        p {
          font-size: 14px;
          font-family: "Montserrat Bold";
          font-weight: bold;
          font-style: normal;
        }
      }
      .discord-list-container {
        padding: 15px 0;
        & > div {
          height: 35px;
          display: flex;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
          margin: 3px 0;
          p {
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            color: #9e9e9e;
          }
          &:hover {
            p {
              color: white;
            }
          }
        }
      }
      @media (max-width: 900px) {
        display: none;
      }
    }
    .discord-main {
      width: calc(100% - 301px);
      height: 100%;
      @media (max-width: 900px) {
        width: calc(100% - 71px);
      }
      @media (max-width: 500px) {
        width: 100%;
      }
      .discord-main-header {
        height: 40px;
        border-bottom: 1px solid rgba($color: #9e9e9e, $alpha: 0.2);
        padding: 0 30px;
        display: flex;
        align-items: center;
        p {
          font-size: 14px;
          font-family: "Montserrat Bold";
          font-weight: 500;
          font-style: normal;
        }
        @media (max-width: 900px) {
          height: auto;
          max-height: 70px;
          padding: 15px;
        }
      }
      .discord-main-container {
        margin-top: -1px;
        width: 100%;
        height: calc(100% - 40px);
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 3px;
          cursor: pointer;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: #666;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #666;
        }
        @media (max-width: 900px) {
          height: calc(100% - 70px);
        }
        & > div {
          border-top: 1px solid rgba($color: #9e9e9e, $alpha: 0.2);
          padding: 15px;
          display: flex;
          width: 100%;
          @media (max-width: 425px) {
            padding: 10px;
          }
          img {
            width: 45px;
            height: 45px;
            border-radius: 30px;
          }
          .discord-main-data {
            margin: 10px;
            width: calc(100% - 55px);
            @media (max-width: 425px) {
              margin: 5px;
              width: calc(100% - 45px);
            }
            p {
              font-size: 14px;
              font-family: "Montserrat Bold";
              font-weight: 500;
              font-style: normal;
            }
            .discord-main-subtitle {
              font-size: 12px;
              color: #9e9e9e;
              font-family: "Montserrat";
            }
            & > div {
              width: 100%;
              .discord-card {
                width: 535px;
                margin-top: 10px;
                max-width: 100%;
                min-height: 157px;
                height: auto;
                background: #1e2023;
                border-radius: 7px;
                display: flex;
                @media (max-width: 600px) {
                  height: auto;
                  min-height: 157px;
                }
                .card-vertical-bar {
                  width: 5px;
                  min-width: 5px;
                  background: #00ff19;
                  height: auto;
                  min-height: 157px;
                  border-radius: 7px 0 0 7px;
                }
                .card-container {
                  width: 530px;
                  max-width: calc(100% - 35px);
                  height: 100%;
                  padding: 10px;
                  @media (max-width: 600px) {
                    max-width: calc(100% - 5px);
                    width: 100%;
                  }
                  p {
                    font-size: 12px;
                    font-weight: 500;
                    font-family: "Montserrat";
                    font-style: normal;
                    margin-bottom: -5px;
                    @media (max-width: 700px) {
                      font-size: 10px;
                    }
                  }
                  a {
                    font-size: 12px;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 0px;
                    color: #316dc6;
                    @media (max-width: 700px) {
                      font-size: 10px;
                    }
                  }
                  .card-child-board {
                    width: 484px;
                    height: 95px;
                    max-width: 100%;
                    background: #161719;
                    border-radius: 7px;
                    margin-top: 10px;
                    padding: 10px;
                    @media (max-width: 600px) {
                      height: auto;
                      padding: 10px 10px 0 10px;
                    }
                    .card-child-board-title {
                      color: #9e9e9e;
                      font-size: 12px;
                      line-height: 11px;
                      @media (max-width: 700px) {
                        font-size: 10px;
                      }
                    }
                    & > div {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      padding: 15px;
                      @media (max-width: 400px) {
                        display: block;
                        text-align: right;
                      }
                      & > div {
                        display: flex;
                        .child-img-container {
                          background: #1e2023;
                          border-radius: 7px;
                          width: 50px;
                          height: 50px;
                          img {
                            width: 100%;
                            height: 100%;
                          }
                        }
                        .child-data-container {
                          display: block;
                          margin-left: 10px;
                          .child-card-data-title {
                            margin-top: 5px;
                            font-size: 14px;
                            font-weight: 600;
                            color: white;
                          }
                          & > div {
                            margin-top: 10px;
                            font-size: 12px;
                            color: #9e9e9e;
                            display: flex;
                            & > div {
                              margin-right: 10px;
                              display: flex;
                              align-items: center;
                              .badge {
                                width: 13px;
                                height: 13px;
                                border-radius: 10px;
                                margin-right: 5px;
                              }
                              .green {
                                background: #027900;
                              }
                              .grey {
                                background: #9e9e9e;
                              }
                            }
                            @media (max-width: 700px) {
                              font-size: 10px;
                              & > div {
                                margin-right: 5px;
                                .badge {
                                  width: 10px;
                                  height: 10px;
                                }
                              }
                            }
                            @media (max-width: 600px) {
                              display: block;
                              & > div {
                                margin-bottom: 3px;
                              }
                            }
                          }
                        }
                        @media (max-width: 400px) {
                          text-align: left;
                        }
                      }
                      button {
                        outline: none;
                        border: 1px solid #9e9e9e;
                        border-radius: 7px;
                        background: transparent;
                        color: #9e9e9e;
                        font-size: 12px;
                        font-family: "Montserrat Bold";
                        font-weight: 500;
                        padding: 10px 30px;
                        cursor: pointer;
                        &:hover {
                          opacity: 0.7;
                        }
                        @media (max-width: 700px) {
                          font-size: 10px;
                          padding: 7px 20px;
                        }
                      }
                    }
                  }
                  .card-child-content {
                    p {
                      font-weight: 100;
                      opacity: 0.7;
                      padding: 3px 0;
                      font-family: "Montserrat";
                    }
                  }
                  .card-child-img {
                    width: 100%;
                    height: auto;
                    border-radius: 0px;
                    margin-top: 5px;
                  }
                  .price-set-1-logo {
                    width: 70px;
                    height: 70px;
                    border-radius: 0;
                    @media (max-width: 400px) {
                      width: 50px;
                      height: 50px;
                    }
                  }
                  .price-set-1-link {
                    margin: 5px 5px 0 0;
                    a {
                      color: #337ab7;
                      cursor: pointer;
                    }
                    span {
                      color: #c4c4c4;
                    }
                    &:hover {
                      a {
                        text-decoration: underline;
                        opacity: 0.7;
                      }
                    }
                  }
                  .price-set-2-child-data {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    margin-top: auto;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
