.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  justify-content: space-between;
  padding: 0 50px 0 90px;
  border-bottom: 1px solid rgba($color: #9e9e9e, $alpha: 0.1);
  z-index: 1;
  @media (max-width: 960px) {
    padding: 0 32px;
  }
  @media (max-width: 450px) {
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    background: black;
    border-bottom: 1px solid rgba($color: #9e9e9e, $alpha: 0.3);
  }
  .logo {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    a {
      font-family: "Montserrat Bold";
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 17px;
      &:hover {
        opacity: 0.7;
      }
    }
    @media (max-width: 1500px) {
      width: 500px;
    }
    @media (max-width: 1300px) {
      width: 450px;
      a {
        font-size: 13px;
      }
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  .others {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 50px);
    @media (max-width: 1200px) {
      width: fit-content;
      justify-content: flex-end;
    }
  }
  .download p {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    display: flex;
    cursor: pointer;
    span {
      color: #fac800;
      font-size: 26px;
      margin: -1px 2px 0 0;
    }
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 1300px) {
      font-size: 13px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 225px;
    & > div {
      height: 40px;
      border: 1px solid #9e9e9e;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      display: flex;
      min-width: 40px;
      &:hover {
        opacity: 0.7;
      }
      p {
        margin: auto;
        font-family: "Montserrat Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        padding: 0 20px;
      }
    }
    .alarm-img {
      margin: auto;
      position: relative;
      .badge {
        width: 9px;
        height: 9px;
        border-radius: 9px;
        background-color: #fac800;
        position: absolute;
        top: -3px;
        right: -2px;
      }
    }
    @media (max-width: 1500px) {
      width: 190px;
      & > div {
        p {
          padding: 0 10px;
        }
      }
    }
    @media (max-width: 1200px) {
      margin-left: 20px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .header-sign-buttons {
    display: flex;
    align-items: center;
    margin-left: 15px;
    @media (max-width: 450px) {
      display: none;
    }
    button {
      margin: 0 5px;
      width: 99px;
      height: 40px;
      border: 2px solid #9e9e9e;
      outline: none;
      cursor: pointer;
      color: white;
      // text-transform: uppercase;
      font-family: "Montserrat";
      font-weight: 800;
      font-size: 14px;
      line-height: 17px;
      background: transparent;
      border-radius: 4px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .username {
    display: flex;
    align-items: center;
    cursor: pointer;
    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 25px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .user {
      margin-left: 10px;
      display: block;
      p {
        font-family: "Montserrat Bold";
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 15px;
        color: #4e4e4e;
      }
      .name {
        color: white;
      }
    }
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 1200px) {
      margin-left: 20px;
    }
    @media (max-width: 450px) {
      display: none;
    }
  }
  .drawer {
    display: none;
    cursor: pointer;
    img {
      height: 25px;
    }
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 1200px) {
      display: flex;
      align-items: center;
      margin-left: 15px;
      margin-right: -10px;
    }
  }
}

/*  Customize react-drawer  */
.react-drawer-drawer {
  z-index: 100;
  background: #000000 !important;
  width: 250px !important;
  animation-duration: 0.5s !important;
}

.drawer-nav-link {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .drawer-cancel {
    width: fit-content;
    margin: 5px 0 20px auto;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .drawer-logo {
    margin: 0 auto 20px auto;
  }
  .drawer-nav-item {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    // color: #9e9e9e;
    color: #ffffff;
    text-align: left;
    padding: 10px 0;
    border-top: 1px solid rgba($color: #9e9e9e, $alpha: 0.2);
    border-bottom: 1px solid rgba($color: #9e9e9e, $alpha: 0.2);
    margin-top: -1px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .drawer-sign-trigger {
    display: none;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #4e4e4e;
    text-align: left;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 450px) {
      display: block;
    }
  }
}
