html,
body {
  padding: 0 !important;
  margin: 0;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  overflow: visible !important;
  background-color: black;
  min-width: 300px !important;
  height: 100vh;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
button,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: "Montserrat";
}

.main-layout {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  padding: 84px 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/img/bg.svg");
}

.main-pages {
  width: 100%;
  height: 100%;
  min-height: 716px;
  color: white;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.image-tag-container {
  & > div {
    width: 100% !important;
    height: 100% !important;
  }
}

.custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 3px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #fac800;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}
.mt-1 {
  margin-top: 10px;
}
.zIndex-10 {
  z-index: 10;
}