@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../public/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}
